def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

params {

    input = null

    // Boilerplate options
    tracedir                   = "${params.outdir}/pipeline_info/${trace_timestamp}"
    publish_dir_mode           = 'copy'

    max_memory                 = '2GB'
    max_cpus                   = 2
    max_time                   = '2h'

    }

executor {
    queueSize = 10
}

docker {
    docker.enabled = true
    }
