def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

manifest {
    name            = 'gpha-mscape-nf-strep-pneumo'
    author          = 'Deborah Greer'
    homePage        = 'https://github.com/ukhsa-collaboration/gpha-mscape-nf-strep-pneumo'
    description     = 'Serotyping pipeline for samples containing Streptococcus pneumoniae'
    mainScript      = 'main.nf'
    nextflowVersion = '>=20.10.0'
    version         = 'v0.2.0'
}

params {

    sampleid = null
    samplesheet = null
    context = True

    // Boilerplate options
    tracedir                   = "${params.outdir}/pipeline_info/${trace_timestamp}"
    publish_dir_mode           = 'copy'

    max_memory                 = '2GB'
    max_cpus                   = 2
    max_time                   = '2h'
    }

executor {
    queueSize = 10
    }

docker {
    docker.enabled = true
    }

env {
    ONYX_TOKEN  = System.getenv('ONYX_TOKEN')
    ONYX_DOMAIN = System.getenv('ONYX_DOMAIN')
    AWS_ACCESS_KEY_ID = System.getenv('AWS_ACCESS_KEY_ID')
    AWS_ENDPOINT_URL = System.getenv('AWS_ENDPOINT_URL')
    AWS_SECRET_ACCESS_KEY = System.getenv('AWS_SECRET_ACCESS_KEY')
    AWS_REQUEST_CHECKSUM_CALCULATION = System.getenv('AWS_REQUEST_CHECKSUM_CALCULATION')
    }

cleanup = true

trace {
    enabled = true
    file = "${params.outdir}/pipeline_trace.txt"
}
